/* sm: max-width: 559px */
/* md: min-width: 600px */
/* lg: min-width: 992px */
/* xl: min-width: 1200px */


/* ROOT VARIABLES */
:root {
    --red: 244, 67, 54; /*#F44336*/
    --yellowA2: 255, 255, 0; /*#FFFF00*/
    --greenL4: 200, 230, 201; /*#C8E6C9*/
    --green: 76, 175, 80; /*#4CAF50*/
    --blueL4: 187, 222, 251; /*#BBDEFB*/
    --blueL5: 227, 242, 253; /*#E3F2FD*/
    --blueX: 215, 224, 237; /*#D7E0ED*/
    --blue: 33, 150, 243; /*#2196F3*/
    --blueD4: 13, 71, 161; /*#0D47A1*/
    --white: 255, 255, 255; /*#FFFFFF*/
    --greyL2: 224, 224, 224; /*#E0E0E0*/
    --greyL5: 250, 250, 250; /*#FAFAFA*/
    --grey: 158, 158, 158; /*#9E9E9E*/
    --greyD2: 97, 97, 97; /*#616161*/
    --greyD3: 66, 66, 66; /*#424242*/
    --black: 0, 0, 0; /*#000000*/
    --card: 15vw; /* calc(40vh / 6); */
    --borderRadius: 8px;
}

/* GLOBAL SETTINGS */
* {
    margin: 0 auto;
    padding: 0;
    -webkit-tap-highlight-color: rgba(var(--black), 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

*, *::after, *::before {box-sizing: border-box;}
*::selection {background-color: transparent;}

body {
    font-family: "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    height: calc(100vh - 0.5em);
    display: grid;
    background-color: rgba(var(--blue), 1);
    margin: 0.5em;
    margin-top: 0;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "nav"
        "main";
}

/* page border */
html::before, html::after, body::before, body::after {
    content: "";
    background-color: rgba(var(--blue), 1);
    position: fixed;
    display: block;
    z-index: 5;
}

html::after {width: 0.5em; top: 0; right: 0; bottom: 0;}
body::before {height: 0.5em; right: 0; bottom: 0; left: 0;}
body::after {width: 0.5em; top: 0; bottom: 0; left: 0;}

/* scrollbar */
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {background-color: rgba(var(--blueL4), 1);}
body::-webkit-scrollbar {width: var(--borderRadius); height: var(--borderRadius);}
body::-webkit-scrollbar-thumb {background-color: rgba(var(--blueD4), 1);}
body::-webkit-scrollbar-thumb {border-radius: 1em;}

hr {background-color: rgba(var(--blue), 1); height: 0.25em;}

/* LINKS */
a {outline: none;}

/* BUTTONS */
button:not(#btn-start):not(.btn-play) {width: 90%;}
button {
    cursor: pointer;
    background: rgba(var(--green), 1);
    color: rgba(var(--white), 1);
    font-size: 1em;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: var(--borderRadius);
    border: 5px solid rgba(var(--white), 1);
    outline: transparent;
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    box-shadow: 0 0 0 3px rgba(var(--green), 1);
    transition: all 0.15s ease-in-out;
}

/* SELECTS */
select {cursor: pointer;}

/* CUSTOM CLASSES */
.bold {font-weight: bold;}

.disabled {
    background-color: rgba(var(--greyL2), 1);
    box-shadow: 0 0 0 4px rgba(var(--greyL2), 1);
    pointer-events: none;
}

.disabled-audio {pointer-events: none;}

.disabled-overflow {overflow: hidden;}

/* FLAGS */
#flag .flag {width: 1.5em;}

.flag {
    width: 2.5em;
    height: auto;
    vertical-align: middle;
    border-radius: calc(var(--borderRadius) / 2);
    box-shadow: 2px 2px 2px rgba(var(--black), 0.5);
}

/* NAV */
nav {
    width: 100%;
    align-content: center;
    padding: 0.25em 0;
    position: sticky;
    top: 0;
    z-index: 2;
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(var(--blue), 0.5);
    background: linear-gradient(90deg,
                rgba(var(--blue), 1) 25%,
                rgba(var(--blueL4), 1) 50%,
                rgba(var(--blue), 1) 75%);
}

nav .emoji {
    cursor: pointer;
    font-size: 2.5em;
}

/* TOOLTIPS */
nav .emoji .tooltip {display: none;}

/* MAIN */
main {
    width: 100%;
    height: 100%;
    padding: 1em 0;
    border-radius: var(--borderRadius);
    background-color: rgba(var(--greyL5), 1);
    grid-area: main;
    display: grid;
    gap: 0.25em;
    grid-template-columns: 0.5em 1fr 0.5em 1fr 0.5em;
    grid-template-areas:
        ". user user user ."
        ". word word word ."
        ". stats . ai .";
}

/* BOARD GAMES */
.card {
    background-color: transparent;
    perspective: 1000px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.emoji {
    outline: none;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    vertical-align: middle;
    text-shadow: 0 -2px 2px rgba(var(--white), 1), 0 2px 2px rgba(var(--black), 0.25);
}

.board {list-style-type: none;}

/* GRID: USER BOARD */
#user {grid-area: user; align-self: center;}
#user-board {
    display: grid;
    grid-template-columns: repeat(5, var(--card));
    gap: 0.75em;
    justify-content: center;
}

#user-board .front {
    font-size: 3em;
    font-weight: bold;
    color: rgba(var(--white), 1);
    text-shadow: 3px 3px 3px rgba(var(--black), 1);
    text-align: center;
    display: grid;
    align-items: center;
    line-height: 1;
    height: var(--card);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 4px 1px rgba(var(--black), 0.75);
    background: repeating-linear-gradient(-45deg,
            rgba(var(--blue), 1),
            rgba(var(--blue), 1) 0.25em,
            rgba(var(--blueL4), 1) 0.25em,
            rgba(var(--blueL4), 1) 0.5em);
}

#user-board .inner {
    position: relative;
    width: var(--card);
    height: var(--card);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#user-board .card .inner.flipped {
    transform: rotateY(180deg);
}

#user-board .front,
#user-board .back {
    position: absolute;
    width: var(--card);
    height: var(--card);
    backface-visibility: hidden;
}

#user-board .back {
    display: grid;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: var(--borderRadius);
    background-color: rgba(var(--white), 1);
    box-shadow: 0 0 4px 1px rgba(var(--black), 0.75);
}

#user-board .back .emoji {
    font-size: 3em;
}

/* user has correct card */
#user-board .card .inner .back.correct {
    background-color: rgba(var(--green), 1);
    border-radius: var(--borderRadius);
    cursor: default;
    pointer-events: none;
}

/* user has incorrect card | wiggle effect : https://stackoverflow.com/a/15991184 */
#user-board .card .inner .back.incorrect {
    border-radius: var(--borderRadius);
    background-color: rgba(var(--red), 1);
    animation: wiggleCard 0.5s linear;
}

/* user has incorrect LingoBingo */
#user-board.incorrect .card {
    border-radius: var(--borderRadius);
    box-shadow: 0 0 4px 4px rgba(var(--red), 1);
    animation: wiggleBoard 0.5s linear;
}

/* user won - pulse winning cards */
#user-board .card .inner .back.correct.winning-tiles,
.chicken-dinner {
    animation: pulseUser 2s ease-out infinite;
}

/* STATS */
#btn-new {grid-area: btn-new;}
#btn-lingobingo {grid-area: btn-lingobingo;}
#timer {grid-area: timer;}
#score {grid-area: score;}
#flag {grid-area: flag;}

#stats {
    width: 100%;
    grid-area: stats;
    display: grid;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "btn-new"
        "btn-lingobingo"
        "timer"
        "score"
        "flag";
}

#btn-new, #btn-lingobingo, #timer, #score, #flag {
    width: 90%;
    height: 90%;
    display: grid;
    font-size: 1.25em;
    align-content: center;
    border-radius: var(--borderRadius);
}

#timer, #score, #flag {
    background-color: rgba(var(--blueX), 1);
    border: 5px solid rgba(var(--white), 1);
    outline: transparent;
    text-shadow: 0 -2px 2px rgba(var(--white), 1), 0 2px 2px rgba(var(--black), 0.25);
    box-shadow: 0 0 6px rgba(var(--blueD4), 1);
}

/* STATS: SCORE */
#score.correct, #score.incorrect {color: rgba(var(--white), 1); text-shadow: 2px 2px 2px rgba(var(--black), 0.5);}
#score.correct {background-color: rgba(var(--green), 1);}
#score.incorrect {background-color: rgba(var(--red), 1); box-shadow: 0 0 6px rgba(var(--red), 1);}

/* GAME SETUP */
#ai {
    width: 100%;
    grid-area: ai;
    display: grid;
    gap: 0.5em;
    text-align: center;
    align-items: center;
    grid-template-areas:
        "goal-board"
        "ai-board";
}

/* current word displayed each round */
#word {
    display: grid;
    grid-area: word;
    margin: 0.5em auto;
    width: 100%;
    line-height: 2;
    letter-spacing: 2px;
    color: rgba(var(--blueD4), 1);
    align-items: center;
    text-align: center;
    text-shadow: 0 -2px 2px rgba(var(--white), 1), 0 2px 2px rgba(var(--black), 0.25);
    font-size: x-large;
    background-color: rgba(var(--blueX), 1);
    border: 5px solid rgba(var(--white), 1);
    border-radius: var(--borderRadius);
    outline: transparent;
    box-shadow: 0 0 6px rgba(var(--blueD4), 1);
}

/* GRID: GOAL BOARD */
#goal-board {
    grid-area: goal-board;
    display: grid;
    grid-template-columns: repeat(5, calc(var(--card) / 4));
    gap: 0.25em;
}

#goal-board .card {
    height: calc(var(--card) / 4);
    width: calc(var(--card) / 4);
    border-radius: calc(var(--borderRadius) / 2);
    border: 1px solid rgba(var(--green), 1);
    background-color: rgba(var(--green), 0.25);
}

#goal-board .card.correct {
    background-color: rgba(var(--green), 1);
    animation: fadeIn 2s ease-out;
}

/* GRID: AI BOARD */
#ai-board {
    grid-area: ai-board;
    display: grid;
    grid-template-columns: repeat(5, calc(var(--card) / 2));
    gap: 0.5em;
}

#ai-board .card {
    height: calc(var(--card) / 2);
    width: calc(var(--card) / 2);
    border-radius: calc(var(--borderRadius) / 2);
    box-shadow: 0 0 4px 0 rgba(var(--black), 0.5);
    background: repeating-linear-gradient(45deg,
            rgba(var(--greyD2), 1),
            rgba(var(--greyD2), 1) 0.5em,
            rgba(var(--grey), 1) 0.5em,
            rgba(var(--grey), 1) 1em);
}

#ai-board .card.correct {
    background: repeating-linear-gradient(45deg,
            rgba(var(--green), 1),
            rgba(var(--green), 1) 0.5em,
            rgba(var(--greenL4), 1) 0.5em,
            rgba(var(--greenL4), 1) 1em);
}

/* ai won - blink winning cards */
#ai-board .card.correct.winning-tiles {
    animation: blinkAI 2s ease-out infinite;
}

/* MODALS */ /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
.modal {
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(var(--black), 0.9);
}

.modal-container {
    cursor: default;
    position: relative;
    border-radius: var(--borderRadius);
    background-color: rgba(var(--blue), 1);
    color: rgba(var(--white), 1);
    margin: 5% auto;
    width: 100%;
    height: 90%;
    animation: 0.4s slideIn ease-in-out;
}

.modal-header {
    display: grid;
    align-content: center;
    padding: 5px;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    height: 10%;
}

.modal-body {
    overflow-y: scroll;
    transform: scaleX(-1);
    margin: 0 0.5em;
    height: 80%;
    border-radius: var(--borderRadius);
    background-color: rgba(var(--greyL5), 1);
    color: rgba(var(--black), 1);
}

.modal-close {
    display: grid;
    align-content: center;
    height: 10%;
    padding: 5px;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    transition: all 0.2s ease-in-out;
}

.modal-close:hover {
    cursor: pointer;
    background-color: rgba(var(--blueD4), 1);
}

.modal-body table {
    transform: scaleX(-1);
    border-collapse: separate;
}

/* MODAL: SETTINGS */
#modal-settings .modal-body {
    align-content: center;
    padding: 1em;
    text-align: center;
}

#modal-settings table {
    border-spacing: 0 2em;
}

#modal-settings label {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    color: rgba(var(--black), 0.5);
}

#modal-settings select {
    font-size: 2em;
    width: 100%;
    color: rgba(var(--white), 1);
    text-shadow: 2px 2px 4px rgba(var(--black), 1);
    border-radius: var(--borderRadius);
    border: 3px solid rgba(var(--black), 1);
    background: rgba(var(--blueD4), 1);
    background: linear-gradient(0deg, rgba(var(--blueD4), 1) 0%, rgba(var(--blue), 1) 100%);
}

#modal-settings select:focus {outline: none;}

#modal-settings select optgroup {
    color: rgba(var(--white), 1);
    background-color: rgba(var(--black), 1);
}

#modal-settings select option {
    color: rgba(var(--black), 1);
    background-color: rgba(var(--blue), 0.75);
}

#modal-settings span.emoji {
    font-size: 2em;
    vertical-align: unset;
}

#modal-settings button#btn-start {
    font-size: 2em;
}

/* MODAL: SCORE BOARD */
#modal-scoreboard .modal-body {
    cursor: pointer;
}

#modal-scoreboard table {
    cursor: default;
    width: 100%;
    border-spacing: 0 8px;
}

#modal-scoreboard table thead tr th {
    position: sticky;
    top: 0;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--blueD4), 1);
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(var(--black), 1);
}

#modal-scoreboard table thead tr th:not(:last-child) {
    border-right: 1px solid rgba(var(--white), 0.75);
}

#modal-scoreboard table thead tr th,
#modal-scoreboard table td {
    padding: 2px 0;
    text-align: center;
}

#modal-scoreboard table tbody td {
    background-color: rgba(var(--white), 1);
}

#modal-scoreboard table td img.flag {
    width: 1.5em;
    border-radius: 2px;
    border: 1px solid rgba(var(--black), 0.5);
    box-shadow: none;
}

#modal-scoreboard table tbody tr {
    box-shadow: 0px 0px 4px 0px rgba(var(--blue), 0.5);
}

#modal-scoreboard table tbody tr:hover td {
    background-color: rgba(var(--blue), 0.25);
}

#modal-scoreboard .btn-play {
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

#modal-scoreboard .btn-play:hover {
    color: rgba(var(--white), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    background-color: rgba(var(--blue), 1);
}

/* custom scrollbar in mobile */
.modal-body::-webkit-scrollbar-track {
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    background-color: rgba(var(--blueL4), 1);
}

.modal-body::-webkit-scrollbar {width: 10px;}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--blueD4), 1);
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

/* KEYFRAME ANIMATIONS */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* user has incorrect card */
@keyframes wiggleCard {
    8%, 41% {transform: translateX(-10px) rotateY(180deg);}
    25%, 58% {transform: translateX(10px) rotateY(180deg);}
    75% {transform: translateX(-5px) rotateY(180deg);}
    92% {transform: translateX(5px) rotateY(180deg);}
    0%, 100% {transform: translateX(0) rotateY(180deg);}
}

/* user has incorrect LingoBingo */
@keyframes wiggleBoard {
    8%, 41% {transform: translateX(-10px);}
    25%, 58% {transform: translateX(10px);}
    75% {transform: translateX(-5px);}
    92% {transform: translateX(5px);}
    0%, 100% {transform: translateX(0);}
}

/* user won */
@keyframes pulseUser {
    0%, 100% {background-color: rgba(var(--yellowA2), 1);}
    50% {background-color: rgba(var(--green), 1);}
}

/* ai won */
@keyframes blinkAI {
    0%, 100% {background: repeating-linear-gradient(45deg,
            rgba(var(--green), 1),
            rgba(var(--green), 1)0 0.5em,
            rgba(var(--yellowA2), 1) 0.5em,
            rgba(var(--yellowA2), 1) 1em);}
    50% {background: repeating-linear-gradient(45deg,
            rgba(var(--green), 1),
            rgba(var(--green), 1) 0.5em,
            rgba(var(--greenL4), 1) 0.5em,
            rgba(var(--greenL4), 1) 1em);}
}

/* modal animations */
@keyframes slideIn {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}
