@media only screen and (min-width: 600px) {

    /* ROOT VARIABLES */
    :root {
        --card: calc(80vh / 6);
        --borderRadius: 8px;
    }

    /* GLOBAL SETTINGS */
    /* body {background-color: orange;} */

    /* BUTTONS */
    button:not(#btn-start) {width: 100%;}
    button {
        font-size: 1em;
        padding: 6px 12px;
        border-radius: var(--borderRadius);
        border: 5px solid rgba(var(--white), 1);
        text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
        box-shadow: 0 0 0 3px rgba(var(--green), 1);
    }

    button:hover {
        color: rgba(var(--green), 1);
        background: transparent;
        text-shadow: none;
        border: 3px solid rgba(var(--green), 1);
        box-shadow: 0 0 6px 0 rgba(var(--black), 0.5);
    }
    
    button:active, button:focus {box-shadow: none;}

    /* CUSTOM CLASSES */
    .disabled {box-shadow: 0 0 0 4px rgba(var(--greyL2), 1);}

    /* FLAGS */
    .flag {
        width: 2.5em;
        border-radius: 4px;
        box-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    }

    /* MAIN */
    main {
        padding: 1em 0;
        grid-template-columns: 1em 1fr 2em calc(var(--card) * 2) 2em 1fr 1em;
        grid-template-rows: none;
        grid-template-areas:
            ". user . stats . word ."
            ". user . stats . ai .";
    }

    /* BOARD GAMES */
    .emoji {font-size: 3.5em;}

    /* GRID: USER BOARD */
    #user-board {
        grid-template-columns: repeat(5, var(--card));
        gap: 10px;
    }

    #user-board .emoji-card-front {
        font-size: 2em;
        height: var(--card);
        border-radius: var(--borderRadius);
        box-shadow: 0 0 4px 1px rgba(var(--black), 0.75);
    }

    #user-board .emoji-card-inner {
        width: var(--card);
        height: var(--card);
    }

    #user-board .emoji-card-front,
    #user-board .emoji-card-back {
        width: var(--card);
        height: var(--card);
    }

    #user-board .emoji-card-back {
        border-radius: var(--borderRadius);
        box-shadow: 0 0 4px 1px rgba(var(--black), 0.75);
    }

    #user-board .emoji-card .emoji-card-inner .emoji-card-back:hover {
        cursor: pointer;
        border-radius: var(--borderRadius);
        box-shadow: 0 0 4px 3px rgba(var(--blueD4), 1);
    }

    /* user has correct card */
    #user-board .emoji-card .emoji-card-inner .emoji-card-back.correct {
        border-radius: var(--borderRadius);
    }

    /* user has incorrect card | wiggle effect : https://stackoverflow.com/a/15991184 */
    #user-board .emoji-card .emoji-card-inner .emoji-card-back.incorrect {
        border-radius: var(--borderRadius);
        background-color: rgba(var(--red), 1);
    }

    /* user has incorrect LingoBingo */
    #user-board.incorrect .emoji-card {
        border-radius: var(--borderRadius);
        box-shadow: 0 0 4px 4px rgba(var(--red), 1);
    }

    /* STATS */
    #stats {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "btn-new"
            "btn-lingobingo"
            "timer"
            "score"
            "username";
    }

    #btn-new, #btn-lingobingo, #timer, #score, #username {
        width: 100%;
        height: 90%;
        font-size: 1.25em;
    }

    #timer, #score, #username {
        border: 5px solid rgba(var(--white), 1);
        text-shadow: 1px 1px 1px rgba(var(--white), 1), 2px 2px 2px rgba(var(--black), 0.5);
        box-shadow: 0 0 6px rgba(var(--blueD4), 1);
    }

    /* GAME SETUP */
    #ai {
        grid-template-areas:
            "word"
            "goal-board"
            "ai-board";
    }

    /* current word displayed each round */
    #word {
        line-height: 2;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px rgba(var(--white), 1), 2px 2px 2px rgba(var(--black), 0.5);
        font-size: x-large;
    }

    /* GRID: GOAL BOARD */
    #goal-board {
        grid-template-columns: repeat(5, calc(var(--card) / 4));
        gap: 5px;
    }

    #goal-board .emoji-card {
        height: calc(var(--card) / 4);
        width: calc(var(--card) / 4);
        border-radius: calc(var(--borderRadius) / 2);
    }

    /* GRID: AI BOARD */
    #ai-board {
        grid-template-columns: repeat(5, calc(var(--card) / 2));
        gap: 5px;
    }

    #ai-board .emoji-card {
        height: calc(var(--card) / 2);
        width: calc(var(--card) / 2);
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(var(--black), 0.5);
    }

    /* MODALS */
    .modal-content {
        margin: 5% auto;
        width: 80%;
        height: 80%;
    }

    .close {font-size: 2em;}

    .modal-header {
        padding: 2px 16px;
        height: 20%;
    }

    .modal-body {
        padding: 2px 16px;
        height: 60%;
    }

    .modal-footer {
        padding: 2px 16px;
        height: 20%;
    }

}
